.landing-content {
  display: flex;
}

.landing-content:nth-child(even) {
  flex-direction: row-reverse;
}

.landing-content img {
  width: 500px;
  height: auto;
}

.landing-content p {
  width: 40%;
  padding: 1rem;
}
.content a {
  border: 1px solid black;
  text-decoration: none;
  padding: 0.4rem;
  color: black;
  background-color: rgba(38, 73, 55, 0.459);
  font-weight: bold;
  border-radius: 10px;  
  height: 30px;
  width: 100px;
}

#landing {
  background-color: rgb(219, 223, 230);
}

.landing-button {
    display: flex;
    justify-content: center;    
    padding: 1rem;    
}
.landing-button a:hover {
    text-decoration: underline;
    color:blueviolet
  }