#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#login header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    background-image: url("assets/pictures/login.jpg");
    background-size: cover;
    background-position: center;
    display: grid;
    justify-items: center;
    align-items: center;
  }
  #login header h2 {
    text-align: center; 
    color:black;   
    background-color: rgba(38, 73, 55, 0.459);
    margin: 0;
  }
  #login button {    
    font-size: 16px;    
    text-decoration: none;
    color: rgb(34, 6, 6);
    background-color: rgba(38, 73, 55, 0.459);
    height: 43px;
    width: 136px;
    margin: 1rem;
    border-radius: 1rem;
  }

  #login form {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;   
    width: 40%;
    min-width: 250px;
    background-color: rgb(219, 223, 230);
    padding-bottom: 2rem;
   
  }
  #input-field input {
    width: 220px;    
    height: 30px;
    color: black;
    font-size: 20px;
  }
  
  #input-field {    
    margin-top: 1rem;
  }
  
  #login form a:hover {
      text-decoration: underline;
      color:blueviolet
  }

  #login form a {
    border: 1px solid black;
    text-decoration: none;
    padding: 0.4rem;
    color: black;
    background-color: rgba(38, 73, 55, 0.459);
    font-weight: bold;
    border-radius: 10px;

}