#not-logged a {
  text-decoration: none;
  border: 1px solid black;
  margin: 1rem;
  padding: 0.2rem;
  color: black;  
  background-color: rgba(38, 73, 55, 0.459);  
}

#not-logged a:hover {
  text-decoration: underline;
  color: blueviolet;
}

#not-logged {
  background-color: rgb(219, 223, 230);
  width: 80%;
  margin: 0 auto;
}

.notlogged-links {
    display: flex;
    justify-content: center;
}