
#sign-up button {    
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(34, 6, 6);
    background-color: rgba(38, 73, 55, 0.459);
    height: 43px;
    width: 136px;
    margin: 1rem;
    border-radius: 1rem;
  }
  #sign-up a {
    border: 2px solid black;
    text-decoration: none;
    padding: 0.4rem;
    color: black;
    background-color: rgba(38, 73, 55, 0.459);
    font-weight: bold;
    border-radius: 10px;
}